{% extends 'base.html' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
    <h1>Le blog de TCHOS</h1>
    {% for article in posts %}
        <article>
            <div class="post-title">
                <h2>
                    {{ article.title }}
                </h2>
                {% if request.user.is_authenticated %}
                    <div>
                        <a href="{% url 'posts:edit' slug=article.slug%}">Editer</a>
                        <a href="{% url 'posts:delete' slug=article.slug%}">Supprimer</a>
                    </div>
                {% endif %}
            </div>
            <h5 class="post-author">Publié par <i>{{ article.author_or_default }}</i>, publié le {{ article.created_on | date:'j F Y' }}.</h5>
            <p class="post-excerpt">
                {# safe permet d'interprépter les blises html s'il y en a dans le contenu; truncatewords:50 permet de n'afficher que les 50 premiers mots  #}
                {{ article.content | safe | truncatewords:50 }}
            </p>
            <form action="{% url 'posts:post' slug=article.slug %}">
                <button class="btn btn-submit">Lire l'article</button>
            </form>
        </article>
    {% endfor %}
{% endblock %}